source https://api.nuget.org/v3/index.json

framework: netcoreapp3.1
storage: none

nuget WebSharper.AspNetCore
nuget WebSharper.FSharp
nuget WebSharper.Mvu
nuget WebSharper.OAuth
nuget RavenDB.Client